@import "tailwindcss";

@theme {
  --color-base: #0C0C0C;
  --color-main: #FFFFFF;
  --color-accent: #C8A85A;
  --color-sub: #A7A7A7;
  
  --font-sans: var(--font-inter), var(--font-noto-sans-jp), sans-serif;
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: var(--color-base);
  color: var(--color-main);
  font-family: var(--font-sans);
}
